{% extends "base.html" %}
{% block content %}
<h2>Dodaj Nową Odmianę</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        {% for error in form.name.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.piece_rate_modifier.label(class="form-label") }}
        {{ form.piece_rate_modifier(class="form-control") }}
        {% for error in form.piece_rate_modifier.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    {{ form.submit(class="btn btn-primary") }}
    <a href="{{ url_for('varieties') }}" class="btn btn-secondary">Anuluj</a>
</form>
{% endblock %}