{% extends "base.html" %}
{% block content %}
<h2>Niezaakceptowani użytkownicy</h2>
<table class="table">
    <thead><tr><th>Nazwa</th><th>Akcje</th></tr></thead>
    <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>
          <form method="POST" action="{{ url_for('approve_user', user_id=user.id) }}">
            <button type="submit" class="btn btn-success">Zatwierdź</button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}